
// title bar
$navbar-default-bg: #3c3c3c;
$navbar-border-radius: 0;
$navbar-default-link-color: #fff;

$panel-default-border: #ccc;
$list-group-border: #ccc;


@import "bootstrap";



// boostrap overrides

.panel {
    border:0;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px;
}

.col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}

// intro

.intro {
    br {
        font-size: 10px;
        line-height:1;
    }
}

// products

.list-group-item {
  padding: 8px 8px;
}

// have to prefix with `a` because bootstrap
// does for the default hover state
// + don't want to use !important

@include list-group-item-variant(heating, #f2dede, #a94442);
@include list-group-item-variant(eco,  #dff0d8, #3c763d);
@include list-group-item-variant(cooling, #d9edf7, #31708f);

// snapshot download
@include list-group-item-variant(snapshot, #fcf8e3, #8a6d3b);



// alerts
.alert--photos,
.alert--email,
.alert--linkedin
 {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  margin-top: 20px;
  padding: 8px 10px;
  a {
    color: #8a6d3b;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  
  &:hover {
    background-color: darken(#fcf8e3, 5%);
  }
  
  margin-top: 20px;
  .glyphicon {
    font-size: 1.2em;
  }
}

// manufacturers
.manufacturer {
  p {
    margin-top: 5px;
  }
  
  img {
    max-height: 35px;
  }
  
  &.airius {
    img {
      max-height: 25px;
    }
  }
}

//thanks column

.thanks {
    margin-top: 30px;
    display:block;
    text-align: center;
}

.profile {
  img {
    width: 150px;
    margin: 30px auto;
    display:block;
  }

  p {
    margin-top: 10px;
    a {
      font-weight: bolder;
    }
  }
}

.signature {
    height: 115px;
}
.associations {
    
    overflow: hidden;
    max-width: 242px;
    margin: 0 auto;

    .cibse img {
      max-height: 50px;
    }

    .imeche img {
      margin-left: 5px;
      max-height: 32px;
    }

    .maa img {
      margin-left: 5px;
      max-height: 32px;
    }

    .deltatee {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 10px;
    }
}
