
// title bar
$navbar-default-bg: #3c3c3c;
$navbar-border-radius: 0;
$navbar-default-link-color: #fff;


@import "bootstrap";

// products

.list-group-item {
    padding: 8px 8px;
}

// have to prefix with `a` because bootstrap
// does for the default hover state
// + don't want to use !important

@include list-group-item-variant(heating, #f2dede, #a94442);
@include list-group-item-variant(eco,  #dff0d8, #3c763d);
@include list-group-item-variant(cooling, #d9edf7, #31708f);

// snapshot download
@include list-group-item-variant(snapshot, #fcf8e3, #8a6d3b);



// alerts
.alert--photos {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  margin-top: 20px;
  a {
    color: #8a6d3b;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  
  &:hover {
    background-color: darken(#fcf8e3, 5%);
  }
}

// manufacturers
.manufacturer {
  p {
    margin-top: 5px;
  }
  img {
    max-height: 50px;
  }
}

//thanks
.profile {
  img {
    width: 110px;
  }

  p {
    margin-top:10px;
  }
}

